@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div>
    
    <button type="button" id="ClickButton">Click Me</button>
    <input type="text" id="NameTextBox"/>

    <div id="NameTextBoxDiv"></div>
    

</div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/Scripts/Organization/OrganizationDetail.js"></script>
</body>
</html>
